  .list ul {
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .list ul li {
    margin: 0;
    list-style: none;
    line-height: 1;
  }
  
  .list ul li a {
    position: relative;
    /* padding: 8px 0; */
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: all 0.3s linear;
  }
  
  .list ul li a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: auto;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .list ul li a:hover,
  .list ul li a.active {
    color: #fff;
  }
  
  .list ul li a:hover::after,
  .list ul li a.active::after {
    width: 100%;
    right: auto;
    left: 0;
  }
  
  .hamburger {
    display: none;
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  
  .hamburger span {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #fcfcfc;
    position: absolute;
    top: calc(50% - 1.5px);
    left: 0;
    transition: all 0.2s;
  }
  
  .hamburger span:first-child {
    transform: translateY(-300%);
    transform-origin: right top;
  }
  
  .hamburger span:last-child {
    transform: translateY(300%);
    transform-origin: right bottom;
  }
  
  .hamburger.active span:first-child {
    transform: rotate(45deg) scaleX(0.5) translateX(4px);
  }
  
  .hamburger.active span:last-child {
    transform: rotate(-45deg) scaleX(0.5) translateX(4px);
  }

  @media screen and (max-width: 868px){
    nav{
        padding-top: 1% ;
        height: 47px;
    }  
    .hamburger {
        display: block;
      }
    
      .list ul {
        position: fixed;
        top: 47px;
        left: 0;
        width: 320px;
        height: 100%;
        padding: 40px 0;
        background-color: #fff;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        box-shadow: -8px 2px 10px rgba(0, 0, 0, 0.082);
        transform: translateY(100%);
        transition: all 0.3s;
      }

      .list ul li a {
        color: #000;
      }

      .list ul li a.moon{
        color: #000;
    }
    
      .list ul.active {
        transform: translateX(0);
      }
    
      .list ul li {
        margin: 0;
        width: 100%;
      }
    
      .list ul li a {
        display: block;
        padding: 15px;
      }
    
      .list ul li a::after {
        display: none;
      }
    
      .list ul li a:hover {
        color: #080808;
        background-color: #f0f0f0;
      }
    
      .list ul li a.active {
        color: #fcfcfc;
        background-color: #00a2ed;
      }

      .moon {
        color: #00a2ed;
    }
    
  }