/*Default Color (For other color used see bootstrap css)*/
:root {
    --recommendeddark: #121212;
    --footer: #24272E;
    /* color type A */
  --line_color : #555555 ;

  /* color type B */
  /* --line_color : #1b1919 ;*/

  /* color type C */
  /* --line_color : #00135C ;*/
}

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.content{
    margin:0;
    padding:0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-bottom: 1%;
    background-color: #00a2ed;
    color: #fff;
    position:fixed;
    opacity: 85%;
    width: 100%;
}
nav a{
    color: #fff;
}

.logo {
    height: 20%;
    width: 20%;
    background-size: cover;
    align-items: center;
    padding-left: 3%;
    padding-top: 0.5%;
    margin: 0;
}

.list {
    margin: 0;
    display: flex;
    gap: 10px;
    padding-right: 3%;
} */

.list ul{
    display: flex;
    gap:10px;
    list-style-type: none;
    padding-right: 5%;
    margin: 0;
}

li{
    padding-top: 4%;
}

a {
    text-decoration: none;
    color: #00a2ed;
}

a:hover {
    text-decoration: none;
}

.moon {
    color: #00a2ed;
}

/*Profile*/
#profile h1{
    text-align: center;
    font-size: 70px;
    padding: 1%;
    display: inline-block;
    top:35%;
    right:-1%;
    width: 100%;
    position: absolute;
}

#profile {
    /* padding-top: 7%;  */
    color: #fff;
    text-align: center;
    overflow-x: hidden;
}
#profile ::before {
     font-size: 50px;
    font-style: normal;
  }

/*For background profile animation go to animation.css file*/

p {
    font-family: 'Poppins', sans-serif;
    line-height: 200%;
}

/*For text animation goto index.js file*/
#profile .typed {
    display: inline-block;
    position: absolute;
    top:50%;
    left: 40%;
    font-size: 200%;
}

#profile .profile-button{
    display: block;
    position: absolute;
    width: 100%;
    top:70%;
}

#soc-link {
    text-align: center;
    display: inline-block;
    position: absolute;
    top:60%;
    left: 0%;
    width: 100%;
    padding-bottom: 1%;
}

#soc-link a{
    padding: 1%;
}

.github {
    color: white;
}

.instagram {
    color: #fe2c54;
}

.facebook {
    color: var(--blue);
}

.mail {
    color: #237d7b;
}

/*For arrow animation goto arrow.css*/

/*About*/
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    gap: 5%;
    padding-top: 2%;
}

#about {
    padding:2%;
}

#profile-img {
    width: 50%;
    align-items: center;
    display: block;
}

#main-img {
    margin-left: 20%;
    border-radius: 100%;
    height: 63%;
    width: 63%;
}

#profile-des{
    width: 50%;
}

a.button.big-button{
    width: 70%;
}

#section-text{
    color: #FF0077;
    justify-items: center;
    margin-bottom: 0%;
}

#bottom-gap {
    margin-bottom: 2%;
}

/*For button animation goto buttonanimation.css*/

#about_details{
    padding-left: 3%;
    justify-content: space-between;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  #details {
    align-items: flex-start;
    width: 50%;
    padding-left: 3%;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    padding: 2.5%;
}

h2 {
    margin-bottom: 10%;
    font-family: 'Rubik', sans-serif;
}

h3 {
    margin-top: 5%;
    font-family: 'Rubik', sans-serif;
}

#skills{
    width: 50%;
    padding-left: 3%;
}

/*For skills animations and design goto skills.css*/

/*Portfolio*/
div#type{
    display:flex;
    gap: 5%;
}

.portfolio-container{
    width:100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap:wrap;
  }
  #portfolio-filters {
    list-style: none;
    text-align: center;
    padding: 2px 15px;
  }
  #portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  #portfolio-filters li:hover, #portfolio-filters li.filter-active {
    color: #149ddd;
  }
  #portfolio-filters li:last-child {
    margin-right: 0;
  }
  #portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  
  #portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
  }
  
  #portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #666;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  #portfolio .portfolio-item .portfolio-info p {
    color: #999;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  
  #portfolio .portfolio-item .portfolio-info .preview-link,
  #portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: #b8a07e;
  }
  
  #portfolio .portfolio-item .portfolio-info .preview-link:hover,
  #portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #cab89f;
  }
  
  #portfolio .portfolio-item .portfolio-info .details-link {
    right: 2px;
    top: 40px;
  }

  #portfolio .portfolio-item .portfolio-info .preview-link {
    top:40px;
  }
  
  #portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 20px;
  }

  /*Services*/

#des {
    width: 50%;
    padding-left: 0;
}

#services,#portfolio,#contact{
    display: block;
    text-align: center;
    padding: 3%;
}

/*Contact*/

#contact span {
    color: red;
}

input,
textarea {
    text-align: center;
    margin:0;
}

.submit{
    border: 0px;
    background-color:transparent;
    color:#00a2ed;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.form-controller{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

.input-field{
    position: relative;
  }
  .input-field input,
  .input-field textarea{
     border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid;
    background: transparent;
    outline: none;
  }
  .input-field label{
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translateY(-50%);
    font-size: 19px;
    pointer-events: none;
    transition: 0.3s;
    background-color: white;
  }
  .input-field input{
    width: 70%;
    height: 60px;
  }
  .input-field textarea{
    width:70%;
    height:60px;
  }
  input:focus,
  textarea:focus{
    border: 2px solid #18ffff;
  }
  input:focus ~ label,
  input:valid ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label{
    top: 0;
    left: 16%;
    font-size: 16px;
    padding: 0 2px;
  }

  /*Footer*/
footer {
    background-color: var(--footer);
    margin: 0;
    padding: 0;
}
.footer-p {
    text-align: center;
    color: var(--gray);
}


/*Media Queries*/
@media screen and (max-width: 1075px) {
    #profile .typed {
        left:35%;
    }
}
@media screen and (max-width: 868px) {
    #details{
        padding-bottom: 5%;
    }
    a.button.big-button{
        width: 70%;
        height: 60px;
        text-align: center;
    }
    h2 {
        margin-bottom: 5%;
    }
    .list ul{
        display: none;
    }
    .col-md-6{
        width:80%;
    }
    .list-group .moon{
        display: block;
    }
    .menu{
        display:flex;
    }
    #profile-des,
    #profile-img,
    #about,
    #details,
    #des,#skills,div #type{
        display: block;
        width: auto;
        padding-right: 3%;
        align-items: center;
    }
    section {
        display: inline-block;
    }
    #profile .typed {
        font-size: 160%;
    }
    #profile h1{
        top:36%;
        font-size: 350%;
    }
    #profile ::before{
        font-size: 40px;
    }
    .col-md-6 {
        flex: 0 0 80%;
        max-width: 80%;
    }
}

@media screen and (max-width: 650px) {
    #profile .typed {
        border-right: 0.5% solid rgba(255, 255, 255, .75);
        font-size: 100%;
    }
    #profile h1{
        top:38%;
        font-size: 300%;
    }
    #profile ::before{
        font-size: 30px;
    }
}

@media screen and (max-width: 510px) {
    #profile h1{
        top:40%;
        font-size: 250%;
    }
    a.button.big-button{
        width: 65%;
        height: 65px;
        text-align: center;
    }
}

@media screen and (max-width: 288px) {
    #profile h1{
        top:30%;
        font-size: 250%;
    }
    #profile .typed{
        left:30%;
    }
    a.button.big-button{
        width: 75%;
        height: 65px;
        text-align: center;
    }
}

/*Landscape orientation*/
@media only screen and (orientation: landscape) {
    #profile h1{
        top:20%;
    }
    #profile .typed{
        top:40%;
    }
    #soc-link{
        top: 55%;
    }
  }

